<!-- todo section -->

<style>
  div {
    width: 25vw;
    height: auto;
  }

  .todo {
    background-color: aqua;
    width: 90%;
    border-radius: 10px;
  }
</style> 

<div (dragover)="allowDrop($event)" id="target">
<div>
  <h1 style="font-family: monospace; font-size: 20">TODO</h1>
</div>

 <div class="todo" *ngFor="let task of tasks">
  <app-tiles [task]="task" (taskdelete)="deletetask($event)" (tasknote)="movebox($event)"></app-tiles>
 </div>

</div>
<!-- <div class="example-box" >{{data}}</div> -->