<!-- completed section -->

<style>
    div {
      width: 25vw;
      height: auto;
    }
    .completed{
     background-color: aquamarine;
     width: 90%;
     border-radius: 10px;
    }
  </style>
  
  <div (dragover)="drop()">
    <div>
      <h1 style="font-family: monospace;font-size: 20;">COMPLETED</h1>
    </div>
    
    <div class="completed" *ngFor="let task of tasks">
      <app-tiles [task]="task" (taskdelete)="deletetask($event)" (tasknote)="movebox($event)"></app-tiles>
    </div>
  </div>
    
     <!-- <div class="example-box">{{data}}</div> -->