<!-- top section of page  -->

<style>
    div {
      font-family: monospace;
      font-size: 26px;
      height: 10%;
  
    }
    button {
      font-family: monospace;
      font-size: 20px;
      background-color: #1e8db3;
      height: 35px;
      width: 170px;
      border-radius: 0.1875rem;
      float: right;
      margin-right: 3vw;
      position: relative;
      top: 30%;
    }
    p {
      display: inline-block;
      margin-left: 3vw;
      position: relative;
      bottom: 15%;
    }
  </style>
  
  <div>
    <p>Taskboard</p>
    <button (click)="display_popup()" >Create Task</button>
    <hr>
  </div>
  