<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Dogs</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <h1>Dogs</h1>


    <div  style="width: 60vw; font-family: 'Courier New', Courier, monospace; font-size: medium; font-weight: 400;" >
        <h3>Intelligence</h3>
        <p>
        Studies of two dogs suggest that dogs can learn by inference and have
        advanced memory skills. A study with Rico, a Border Collie, showed that he
        knew the labels of over 200 different items. He inferred the names of
        novel things by exclusion learning and correctly retrieved those new items
        immediately and four weeks after the initial exposure. A study of another
        Border Collie, Chaser, documented his learning and memory capabilities. He
        had learned the names and could associate by verbal command over 1,000
        words. Dogs can read and react appropriately to human body language
        such as gesturing and pointing and human voice commands.
        </p>

        <br>

        <h3>Communication</h3>
        <p>
        Communication behaviors of dogs include eye gaze, facial expression,
        vocalization, body posture (including movements of bodies and limbs), and
        gustatory communication (scents, pheromones, and taste). Humans
        communicate to dogs by using vocalization, hand signals, and body posture.
        </p>
    </div>
    <br>

    <img src='{% static "images/golder-retriever-puppy.jpeg"%}' alt="my pet" width="30%">
    
  </body>
</html>
