<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page@dogs</title>
</head>

<body>
    <h1>How Dogs Perceive Humans??</h1>


    <div style="width: 60vw; font-family: 'Courier New', Courier, monospace; font-size: medium; font-weight: 400;">
        <p>
            The question of how dogs perceive us humans is important for several
            reasons, both from the perspective of biologists as well as animal
            ethicists. First, an enduring topic of animal behavior and animal
            cognition research is how animals adapt to their social environment, how
            they cope with the challenges of dynamic relationships among group
            members, and especially how they achieve a balance between competition and
            cooperation. Complex social life has been proposed as one of the main
            driving forces in the evolution of higher cognitive abilities in humans
            and non-human animals
        </p>

        <br>

        <p>Despite being equipped by evolution with skills and propensities to adapt to humans by showing high levels of
            social tolerance and attentiveness, dogs need to individually learn much about their heterospecific partners
            in order to establish and maintain firm individualized relationships. During their life in the human
            household as pets or companions, they have ample opportunities to do so. Family dogs live in close
            day-to-day contact with humans and can therefore collect an enormous amount of experience</p>

        <a href="https://www.frontiersin.org/articles/10.3389/fpsyg.2020.584037/full">more here</a>
    </div>

</body>

</html>